<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.661459576127-lrgpqlk7h2arnd6fbk37hejl3q6nfa0o</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAKO_NATIVE_APP_KEY_CONFIG)</string>
			</array>
		</dict>
	</array>
	<key>NaverClientID</key>
	<string>$(NAVER_CLIENT_ID_CONFIG)</string>
	<key>NaverClientSecret</key>
	<string>$(NAVER_CLIENT_SECRET_CONFIG)</string>
	<key>NMFClientId</key>
	<string>$(NAVER_MAP_CLIENT_ID_CONFIG)</string>
	<key>KakaoNativeAppKey</key>
	<string>$(KAKAKO_NATIVE_APP_KEY_CONFIG)</string>
	<key>FireStore</key>
	<string>$(FireStoreBaseURL)</string>
	<key>FireStorage</key>
	<string>$(FireStorageBaseURL)</string>
	<key>PROTOCOL</key>
	<string>${PROTOCOL}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Sacramento-Regular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
