<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.661459576127-gsvsa1optu2nseceh8fpqft4mfdake7m</string>
			</array>
		</dict>
	</array>
	<key>NMFClientId</key>
	<string>e74pxe65j7</string>
</dict>
</plist>
